extends layout.pug
block content
  h2(class="text-lg font-semibold") Welcome to Image Processing API app.
  br
  p(class="text-sm") You can manually type the line in this format http://localhost:3000/api/images?filename='your image'&width=''&height=''
  p(class="text-sm") Or you can upload the image below and then process it in the next page.


  div(class="w-1/2 h-48 border mx-auto mt-12 flex items-center justify-center") 
    form(action="/", method="post", enctype="multipart/form-data")
      div(class="flex flex-col space-y-3")
        div 
          input(type="file" name="image") 
        div
          input(type="submit", value="Upload" class="bg-blue-600 text-white px-4 py-2 rounded-lg shadow-lg cursor-pointer") 